html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my-d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-d-flex li {
  text-decoration: none;
  list-style: none;

}

.my-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  border: 1px solid black;
  height: 300px;
  margin: 0 5px;
  box-shadow: 0 5px 5px grey;
  padding: 10px;
}

.my-card input {
  border-radius: 5px;
}

.my-card section {
  display: flex;
  flex-direction: column;
}

.my-card:hover {
  width: 33%;
  height: 301px;
}

#slidepanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slidepanel a {
  opacity: .8;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 10%;
  height: 80%;


  transform:
    translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
}

#slidepanel a:hover {
  transform: translate3d(0px, 0px, -250px);
}

.forget-p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  height: 100%;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  width: 100%;
  height: 30vh;
}

.child:hover {
  background-color: rgba(128, 128, 128, .5) !important;
}

.news-header {
  width: 100%;
  height: 8vh;
}

.my-card-container {
  /*bootstrap card dışı gerekirse*/
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

/* .about-header {
  grid-area: 1 / 1 / 2 / 3;
} */
.linear-line{
  margin: auto auto;
  display: inline-block;
  width: 50px;
  background-color: black;
  height: 2px;
  padding-bottom: 3px;
}
.contact-us{
  /* gerekirse */
}
.contact-us h4{
  padding-top: 5px;
  display: inline-block;
  height: 100%;
}