@{
    ViewData["Title"] = "Index";
}




<div class="about-grid">
    <div class="about-header">
        <h1>About</h1>
    </div>
    <div class="bg-primary">TEXT</div>
    <div class="bg-danger">IMAGE</div>
</div>