@model SchoolInfoViewModel
@{
    ViewData["Title"] = "Index";
    // byte resmi string e çevirip gösterme
    var base64 = Convert.ToBase64String(Model.AboutImage);
    var imgSrcOrj = String.Format("data:image/jpeg;base64,{0}", base64);
}
<h1>About</h1>
<div class="about-grid">
    <div class="">
        <p>@Model.AboutText</p>
    </div>
    <div class=""><img src="@imgSrcOrj" alt=""></div>
</div>






